<div class="card mb-10 mb-xl-10">

	<div class="card-body py-10">
		<h2 class="mb-9">معرفی دوستان</h2>

		<div class="row mb-10">

			<div class="col-xl-6 mb-15 mb-xl-0 pe-5">
				<h4 class="mb-0">کد معرفی دوستان</h4>
				<p class="fs-6 fw-bold text-gray-600 py-4 m-0">
					کد زیر را با دوستان خود به اشتراک بگذارید که در هنگام عضویت از آن استفاده نمایند
				</p>
				<div class="d-flex">
					<input readonly id="ppc_referral_code_input" type="text"
						class="form-control form-control-solid me-3 flex-grow-1" name="search" value="345re66787k8">
					<button id="ppc_referral_program_code_copy_btn"
						class="btn btn-light btn-active-light-primary fw-bolder flex-shrink-0"
						data-clipboard-target="#ppc_referral_code_input">کپی کد</button>
				</div>
			</div>


			<div class="col-xl-6">
				<h4 class="text-gray-800 mb-0">لینک معرفی دوستان </h4>
				<p class="fs-6 fw-bold text-gray-600 py-4 m-0">لینک را با دوستان خود به اشتراک بگذارید
					<br>
				</p>
				<div class="d-flex">
					<input readonly id="ppc_referral_link_input" type="text"
						class="form-control form-control-solid me-3 flex-grow-1" name="search"
						value="https://Billiard.ir/reffer/345re66787k8">
					<button id="ppc_referral_program_link_copy_btn"
						class="btn btn-light btn-active-light-primary fw-bolder flex-shrink-0"
						data-clipboard-target="#ppc_referral_link_input">کپی لینک</button>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col">
				<div class="card card-dashed flex-center min-w-175px my-3 p-6">
					<span class="fs-4 fw-bold text-info pb-1 px-2">درآمد</span>
					<span class="fs-lg-2tx fw-bolder d-flex justify-content-center">

						<span data-ppc-countup="true" data-ppc-countup-value="63,240.00" class="counted">
							0
						</span>
						<span>
							تومان

						</span>
					</span>
				</div>
			</div>


			<div class="col">
				<div class="card card-dashed flex-center min-w-175px my-3 p-6">
					<span class="fs-4 fw-bold text-success pb-1 px-2">تعداد دوستان</span>

					<span class="fs-lg-2tx fw-bolder d-flex justify-content-center">

						<span data-ppc-countup="true" data-ppc-countup-value="63,240.00" class="counted">
							0
						</span>
						<span>
							نفر

						</span>
					</span>
				</div>
			</div>


			<div class="col">
				<div class="card card-dashed flex-center min-w-175px my-3 p-6">
					<span class="fs-4 fw-bold text-danger pb-1 px-2">درصد سود شما</span>

					<span class="fs-lg-2tx fw-bolder d-flex justify-content-center">

						<span data-ppc-countup="true" data-ppc-countup-value="63,240.00" class="counted">
							20
						</span>
						<span>
							درصد

						</span>
					</span>
				</div>
			</div>


			<div class="col">
				<div class="card card-dashed flex-center min-w-175px my-3 p-6">
					<span class="fs-4 fw-bold text-primary pb-1 px-2">درصد سود دوستان شما</span>

					<span class="fs-lg-2tx fw-bolder d-flex justify-content-center">

						<span data-ppc-countup="true" data-ppc-countup-value="63,240.00" class="counted">
							10
						</span>
						<span>
							درصد

						</span>
					</span>
				</div>
			</div>

		</div>


		<p class="fs-5 fw-bold text-gray-600 py-6">نوشتن عناوین برای پست های وبلاگ به همان اندازه که یک علم است ، یک هنر
			است و احتمالاً پست خودش را ضمانت می کند ، اما در حال حاضر ، تمام توصیه من این است که آزمایش کنم چه چیزی برای
			مخاطبان شما مفید است ، به خصوص اگر با مخاطبان شما چندان خوشایند نباشد</p>


		<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">


			<span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
					<path opacity="0.3"
						d="M5.33317 13.3333H10.6665V22.6666H13.3332V13.3333H18.6665V22.6666H21.3332V13.3333H26.6665V22.6666C28.1393 22.6666 29.3332 23.8605 29.3332 25.3333V26.6666C29.3332 28.1393 28.1393 29.3333 26.6665 29.3333H5.33317C3.86041 29.3333 2.6665 28.1393 2.6665 26.6666V25.3333C2.6665 23.8605 3.86041 22.6666 5.33317 22.6666V13.3333Z"
						fill="#000000"></path>
					<path
						d="M2.6665 9.8054C2.6665 8.71499 3.33037 7.73443 4.3428 7.32947L15.0095 3.0628C15.6452 2.80849 16.3545 2.80849 16.9902 3.0628L27.6569 7.32947C28.6693 7.73443 29.3332 8.71499 29.3332 9.8054V10.6666C29.3332 12.1394 28.1393 13.3333 26.6665 13.3333H5.33317C3.86041 13.3333 2.6665 12.1394 2.6665 10.6666V9.8054Z"
						fill="#000000"></path>
				</svg>
			</span>



			<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">

				<div class="mb-3 mb-md-0 fw-bold">
					<h4 class="text-gray-800 fw-bolder">پول خود را به بانک بکشید اکانت</h4>
					<div class="fs-6 text-gray-600 pe-7">پول را به صورت امن به حساب بانکی خود بکشید. کمیسیون 25 دلار در
						هر معامله زیر 50،000 دلار است</div>
				</div>


				<a href="#" class="btn btn-primary px-6 align-self-center text-nowrap">پول کشیدن</a>

			</div>

		</div>

	</div>

</div>


<div class="card">

	<div class="card-header card-header-stretch">

		<div class="card-title">
			<h3>کاربران ارجاع داده شده</h3>
		</div>


		<div class="card-toolbar">

			<ul class="nav nav-stretch fs-5 fw-bold nav-line-tabs border-transparent" role="tablist">
				<li class="nav-item" role="presentation">
					<a id="ppc_referrals_tab_1" class="nav-link text-active-gray-800 me-4 active" data-bs-toggle="tab"
						role="tab" href="#ppc_referrals_1">ماه</a>
				</li>
				<li class="nav-item" role="presentation">
					<a id="ppc_referrals_tab_2" class="nav-link text-active-gray-800 me-4" data-bs-toggle="tab"
						role="tab" href="#ppc_referrals_2">2020</a>
				</li>
				<li class="nav-item" role="presentation">
					<a id="ppc_referrals_tab_3" class="nav-link text-active-gray-800" data-bs-toggle="tab" role="tab"
						href="#ppc_referrals_3">2019</a>
				</li>
			</ul>

		</div>

	</div>


	<div id="ppc_referred_users_tab_content" class="tab-content">

		<div id="ppc_referrals_1" class="card-body p-0 tab-pane fade show active" role="tabpanel">
			<div class="table-responsive">

				<table class="table table-row-bسفارش داده شده table-flush align-middle gy-6">

					<thead class="border-bottom border-gray-200 fs-6 fw-bolder bg-lighten">
						<tr>
							<th class="min-w-125px ps-9">شناسه سفارش</th>
							<th class="min-w-125px px-0">کاربر</th>
							<th class="min-w-125px">تاریخ</th>
							<th class="min-w-125px">جایزه</th>
							<th class="min-w-125px ps-0">سود</th>
						</tr>
					</thead>


					<tbody class="fs-6 fw-bold text-gray-600">
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">مارکوس هریس</a>
							</td>
							<td>آبان 24, 2020</td>
							<td>26%</td>
							<td class="text-success"> تومان 1,200.00</td>
						</tr>
						<tr>
							<td class="ps-9">578433345</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">علی کاربر</a>
							</td>
							<td>مرداد 10, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 2,400.00</td>
						</tr>
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">رابرت اسمیت</a>
							</td>
							<td>اردیبهشت 06, 2020</td>
							<td>18%</td>
							<td class="text-success"> تومان 940.00</td>
						</tr>
						<tr>
							<td class="ps-9">098669322</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">محمد ابراهیمی</a>
							</td>
							<td>فروردین 30, 2020</td>
							<td>43%</td>
							<td class="text-success"> تومان 200.00</td>
						</tr>
						<tr>
							<td class="ps-9">245899092</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">پل جانسون</a>
							</td>
							<td>بهمن 29, 2020</td>
							<td>21%</td>
							<td class="text-success"> تومان 380.00</td>
						</tr>
						<tr>
							<td class="ps-9">505432578</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">سارا جونز</a>
							</td>
							<td>دی 08, 2020</td>
							<td>47%</td>
							<td class="text-success"> تومان 2,050.00</td>
						</tr>
						<tr>
							<td class="ps-9">256899235</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">خوان کارلوس</a>
							</td>
							<td>دی 02, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 820.00</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>


		<div id="ppc_referrals_2" class="card-body p-0 tab-pane fade" role="tabpanel">
			<div class="table-responsive">

				<table class="table table-row-bسفارش داده شده table-flush align-middle gy-6">

					<thead class="border-bottom border-gray-200 fs-6 fw-bolder bg-lighten">
						<tr>
							<th class="min-w-125px ps-9">شناسه سفارش</th>
							<th class="min-w-125px px-0">کاربر</th>
							<th class="min-w-125px">تاریخ</th>
							<th class="min-w-125px">جایزه</th>
							<th class="min-w-125px ps-0">سود</th>
						</tr>
					</thead>


					<tbody class="fs-6 fw-bold text-gray-600">
						<tr>
							<td class="ps-9">256899235</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">خوان کارلوس</a>
							</td>
							<td>دی 02, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 820.00</td>
						</tr>
						<tr>
							<td class="ps-9">245899092</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">پل جانسون</a>
							</td>
							<td>بهمن 29, 2020</td>
							<td>21%</td>
							<td class="text-success"> تومان 380.00</td>
						</tr>
						<tr>
							<td class="ps-9">505432578</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">سارا جونز</a>
							</td>
							<td>دی 08, 2020</td>
							<td>47%</td>
							<td class="text-success"> تومان 2,050.00</td>
						</tr>
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">رابرت اسمیت</a>
							</td>
							<td>اردیبهشت 06, 2020</td>
							<td>18%</td>
							<td class="text-success"> تومان 940.00</td>
						</tr>
						<tr>
							<td class="ps-9">578433345</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">علی کاربر</a>
							</td>
							<td>مرداد 10, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 2,400.00</td>
						</tr>
						<tr>
							<td class="ps-9">098669322</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">محمد ابراهیمی</a>
							</td>
							<td>فروردین 30, 2020</td>
							<td>43%</td>
							<td class="text-success"> تومان 200.00</td>
						</tr>
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">مارکوس هریس</a>
							</td>
							<td>آبان 24, 2020</td>
							<td>26%</td>
							<td class="text-success"> تومان 1,200.00</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>


		<div id="ppc_referrals_3" class="card-body p-0 tab-pane fade" role="tabpanel">
			<div class="table-responsive">

				<table class="table table-row-bسفارش داده شده table-flush align-middle gy-6">

					<thead class="border-bottom border-gray-200 fs-6 fw-bolder bg-lighten">
						<tr>
							<th class="min-w-125px ps-9">شناسه سفارش</th>
							<th class="min-w-125px px-0">کاربر</th>
							<th class="min-w-125px">تاریخ</th>
							<th class="min-w-125px">جایزه</th>
							<th class="min-w-125px ps-0">سود</th>
						</tr>
					</thead>


					<tbody class="fs-6 fw-bold text-gray-600">
						<tr>
							<td class="ps-9">578433345</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">علی کاربر</a>
							</td>
							<td>مرداد 10, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 2,400.00</td>
						</tr>
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">رابرت اسمیت</a>
							</td>
							<td>اردیبهشت 06, 2020</td>
							<td>18%</td>
							<td class="text-success"> تومان 940.00</td>
						</tr>
						<tr>
							<td class="ps-9">256899235</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">خوان کارلوس</a>
							</td>
							<td>دی 02, 2020</td>
							<td>35%</td>
							<td class="text-success"> تومان 820.00</td>
						</tr>
						<tr>
							<td class="ps-9">245899092</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">پل جانسون</a>
							</td>
							<td>بهمن 29, 2020</td>
							<td>21%</td>
							<td class="text-success"> تومان 380.00</td>
						</tr>
						<tr>
							<td class="ps-9">505432578</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">سارا جونز</a>
							</td>
							<td>دی 08, 2020</td>
							<td>47%</td>
							<td class="text-success"> تومان 2,050.00</td>
						</tr>
						<tr>
							<td class="ps-9">098669322</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">محمد ابراهیمی</a>
							</td>
							<td>فروردین 30, 2020</td>
							<td>43%</td>
							<td class="text-success"> تومان 200.00</td>
						</tr>
						<tr>
							<td class="ps-9">678935899</td>
							<td class="ps-0">
								<a href="" class="text-gray-600 text-hover-primary">مارکوس هریس</a>
							</td>
							<td>آبان 24, 2020</td>
							<td>26%</td>
							<td class="text-success"> تومان 1,200.00</td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>

</div>


@section Scripts
{
<script src="~/theme/Desktop/assets/js/custom/account/referrals/referral-program.js"></script>
}