@model BlogPost 
<partial name="_CustomValidationSummary" />
<form asp-action="RecoveryPost" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title">بازگردانی مطلب وبلاگ</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <span class="text-center">
                    آیا می‌خواهید مطلب 
                    <strong>@Model.Title</strong>
                    را بازگردانی کنید؟
                    
                </span>
                <input hidden asp-for="Id" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit">تائید بازگردانی</button>
                <button class="btn btn btn-secondary" data-bs-dismiss="modal" aria-hidden="true">انصراف</button>
            </div>
        </div>
    </div>
</form>