@{
    var userId = User.Identity.GetUserId();
}
@{ ViewData["Title"] = "پیام رسان سناتور"; }

    <input hidden id="userId" value="@userId" />
    <div class="d-flex flex-column flex-lg-row">
        <div id="GroupMember" class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0 d-flex align-items-stretch">
            <div class="card card-flush">
                <div class="card-header pt-7" id="ppc_chat_contacts_header">
                    <form class="w-100 position-relative" autocomplete="off">
                        <span class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                                </g>
                            </svg>
                        </span>
                        <input type="text" class="form-control form-control-solid px-15" name="search" value="" placeholder="جستجو بر اساس نام ">
                    </form>
                </div>
                <div class="card-body ppc_chat-card" id="ppc_chat_contacts_body">
                    <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" data-ppc-scroll="true" data-ppc-scroll-activate="{default: false, lg: true}" data-ppc-scroll-max-height="auto" data-ppc-scroll-dependencies="#ppc_header, #ppc_toolbar, #ppc_footer, #ppc_chat_contacts_header" data-ppc-scroll-wrappers="#ppc_content, #ppc_chat_contacts_body" data-ppc-scroll-offset="0px" style="max-height: 171px;">
                        <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                                                <div class="d-flex flex-stack py-4">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">M</span>
                                    <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2"></div>
                                </div>
                                <div class="ms-5">
                                    <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2">میلاد رئیسی</a>
                                    <div class="fw-bold text-gray-400">miladsoft@yahoo.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">3 hrs</span>
                                <span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10 d-flex align-items-stretch">
            <div class="card w-100" id="ppc_chat_messenger">
                <div class="card-header" id="ppc_chat_messenger_header">
                     <div class="card-title">
                       گروه سناتور
                    </div>
                    <div class="card-toolbar">
                        <div class="me-n3">
                            <button class="btn btn-sm btn-icon btn-active-light-primary" data-ppc-menu-trigger="click" data-ppc-menu-placement="bottom-end" data-ppc-menu-flip="top-end">
                                <i class="bi bi-three-dots fs-2"></i>
                            </button>
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-150px py-3" data-ppc-menu="true" style="">
                    
                                 <div class="menu-item px-3">
                                    <a href="#" onclick="ToggleMember()" class="menu-link px-3" >نمایش مخاطبین</a>
                                </div>
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#ppc_modal_users_search">افزودن مخاطب</a>
                                </div>
                                <div class="menu-item px-3 my-1">
                                    <a href="#" class="menu-link px-3" data-bs-toggle="tooltip" >تنظیمات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body ppc_chat-card" id="ppc_chat_messenger_body">
                    <div class="scroll-y me-n5 pe-5 h-400px h-lg-auto" data-ppc-element="messages" data-ppc-scroll="true" data-ppc-scroll-activate="{default: false, lg: true}" data-ppc-scroll-max-height="auto" data-ppc-scroll-dependencies="#ppc_header, #ppc_toolbar, #ppc_footer, #ppc_chat_messenger_header, #ppc_chat_messenger_footer" data-ppc-scroll-wrappers="#ppc_content, #ppc_chat_messenger_body" data-ppc-scroll-offset="-2px" style="max-height: 18px;">                    
                            <div class="d-flex justify-content-end mb-10 d-none" data-ppc-element="template-out">
                            <div class="d-flex flex-column align-items-end">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1" data-ppc-element="datetime" ></span>
                                        <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1" data-ppc-element="userdisplayname"></a>
                                    </div>
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" data-ppc-element="userPic" src="">
                                    </div>
                                </div>
                                <div class="p-5 rounded bg-light-primary text-dark fw-bold mw-lg-400px text-end" data-ppc-element="message-text"></div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start mb-10 d-none" data-ppc-element="template-in">
                            <div class="d-flex flex-column align-items-start">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="" data-ppc-element="userPic">
                                    </div>
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1" data-ppc-element="userdisplayname"></a>
                                        <span class="text-muted fs-7 mb-1" data-ppc-element="datetime"></span>
                                    </div>
                                </div>
                                <div class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start" data-ppc-element="message-text"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer chat-footer-pading" id="ppc_chat_messenger_footer">
                    <div class="d-flex flex-stack">
                        <div class="d-flex align-items-center me-2">
                            <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="بزودی">
                                <i class="bi bi-paperclip fs-3"></i>
                            </button>
                            <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button" data-bs-toggle="tooltip" title="" data-bs-original-title="بزودی">
                                <i class="bi bi-upload fs-3"></i>
                            </button>
                        </div>

                        <input type="text" class="form-control form-control-flush ml-10 mr-3 input-chat"   data-ppc-element="input" placeholder="پیام را بنویسید">

                        <button class="btn btn-primary" type="button" data-ppc-element="send">ارسال</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
            <script src="~/theme/Desktop/assets/js/custom/apps/chat/chat.js"></script>     
    }
