@{
	Layout = "_LayoutPage";
	ViewData["Title"] = "قوانین";
}
<div id="ppc_content_container" class="container">

	<div class="card mt-n10 mt-lg-n10 ">

		<div class="card-body p-lg-15">

			<div class="d-flex flex-column flex-lg-row">

				@* <div class="flex-column flex-lg-row-auto w-100 w-lg-275px mb-10 me-lg-20">

					<div class="mb-15">
						<h4 class="text-black mb-7">دسته بندی ها</h4>

						<div
							class="menu menu-rounded menu-column menu-title-gray-700 menu-state-title-primary menu-active-bg-light-primary fw-bold">

							<div class="menu-item mb-1">

								<a href="#" class="menu-link py-3 active">پنل ادمین بوت استراپ</a>

							</div>


							<div class="menu-item mb-1">

								<a href="#" class="menu-link py-3">نرم افزار لاراول</a>

							</div>


							<div class="menu-item mb-1">

								<a href="#" class="menu-link py-3">داشبورد انگولار</a>

							</div>


							<div class="menu-item mb-1">

								<a href="#" class="menu-link py-3">داشبورد ویو جی اس</a>

							</div>


							<div class="menu-item mb-1">

								<a href="#" class="menu-link py-3">پنل ادمین ریکت</a>

							</div>


							<div class="menu-item">

								<a href="#" class="menu-link py-3">تم بوت استراپ</a>

							</div>

						</div>

					</div>


				</div> *@


				<div class="flex-lg-row-fluid">

					<div class="mb-13">

						<div class="mb-15">

							<h4 class="fs-2x text-gray-800 w-bolder mb-6">قوانین و شرایط استفاده از خدمات</h4>

							<p class="fw-bold fs-4 text-gray-600 mb-2 blogp">
								سناتور تابع قوانین جمهوری اسلامی ایران بوده و بستری برای تبادل دانش در حوزه بلاکچین و
								رمز ارزها می‌باشد همچنین کاربران احراز هویت شده در سناتور می توانند به تبادل رمز ارزهای
								خود با یکدیگر بپردازند.لازم به ذکر است که هیچ گونه تبادل ارزی اعم از خرید و فروش دلار یا
								سایر ارزهای کاغذی، در این بستر صورت نمی گیرد.
							</p>

						</div>

						<div class="text-center">
							<img src="~/theme/Desktop/assets/media/page/terms-Billiard.png" class="img-fluid mb-10 mw-400">
						</div>


                                            <section id="content">
                                                <h3>تعهدنامه فعالیت در بستر تبادل دارایی‌های الکترونیک سناتور</h3>
                                                <p class="blogp">
                                                    کاربران موظفند قبل از ثبت‌نام تمامی مفاد این تعهدنامه را مطالعه
                                                    نموده و
                                                    صرفا در صورت پذیرش آن اقدام به ثبت نام نمایند.
                                                </p>
                                                <ul class="ult">
                                                    <li>
                                                        کاربران سایت می‌پذیرند که کلیه‌ی فعالیت‌های آن‌ها در سناتور در
                                                        چارچوب
                                                        قوانین جمهوری اسلامی بوده و هیچ گونه فعالیتی خارج از این چارچوب
                                                        انجام
                                                        نخواهند داد.
                                                    </li>
                                                    <li>
                                                        احراز هویت برای استفاده از خدمات سناتور ضروری بوده و کاربران
                                                        موظفند
                                                        اطلاعات صحیح خود را بارگزاری نمایند. بدیهی است در صورت وجود
                                                        هرگونه
                                                        تخلف در احراز هویت، مسئولیت به عهده‌ی فرد متخلف بوده و سناتور حق
                                                        توقف
                                                        ارائه خدمات به کاربر مذبور و ارجاع موارد تخلف به مراجع ذی صلاح
                                                        را
                                                        خواهد داشت. سناتور خود را ملزم به حفظ اطلاعات شخصی کاربران خود
                                                        می‌داند.
                                                    </li>
                                                    <li>
                                                        کاربران سناتور تعهد می دهند که از خدمات سایت سناتور تنها برای
                                                        خود
                                                        استفاده نموده و مسئولیت استفاده از خدمات سناتور برای فرد غیر که
                                                        فرآیند احراز هویت را طی نکرده باشد به عهده کاربر خواهد بود.
                                                        شماره حساب
                                                        اعلام شده به سایت و همچنین آدرس کیف پول ها جهت برداشت ارز
                                                        الکترونیک نیز
                                                        می
                                                        بایست متعلق به کاربر بوده و کاربران مجاز به دادن آدرس کیف پول
                                                        متعلق به
                                                        اشخاص دیگر نیستند.
                                                    </li>
                                                    <li>
                                                        کاربران سناتور می‌پذیرند در صورت تشخیص کارشناسان پشتیانی سناتور،
                                                        جهت حفظ امنیت دارایی
                                                        حساب کاربریشان با اطلاع قبلی نسبت به برقراری تماس تصویری با تیم
                                                        سناتور همکاری نمایند.
                                                        همچنین بنا به دستور نهادهای قضایی مانند پلیس فتا، ممکن است
                                                        برداشت ارز الکترونیک
                                                        به مدت 24 تا 72 ساعت پس از زمان واریز از طریق درگاه شتابی محدود
                                                        گردد.
                                                    </li>
                                                    <li>
                                                        کاربران سناتور اذعان می‌دارند که از ریسک‌های مربوط به
                                                        سرمایه‌گذاری در
                                                        ارزهای الکترونیک مطلع بوده و با علم به این موضوع اقدام به
                                                        سرمایه‌گذاری و
                                                        تبادل می‌نمایند.
                                                    </li>
                                                    <li>
                                                        سناتور به عنوان بازار آنلاین تبادل ارزهای الکترونیک ، هیچ گونه
                                                        مسئولیتی
                                                        در قبال نحوه‌ی معاملات کاربران و سود و زیان حاصل از آن ندارد.
                                                    </li>
                                                    <li>
                                                        هرگونه سهل انگاری کاربران در حفظ اطلاعات امنیتی از جمله گذرواژه
                                                        کاربر،
                                                        به عهده‌ی شخص کاربر بوده و سناتور هیچ مسئولیتی به عهده نخواهد
                                                        داشت.
                                                        اکیداً توصیه می شود از گذرواژه پیچیده و امن و کد شناسایی دوعاملی
                                                        استفاده شود.
                                                    </li>
                                                    <li>
                                                        سناتور این اطمینان را می‌دهد که دارایی‌های کاربران را نزد خود به
                                                        امانت و به بهترین شکل و با بالاترین استانداردهای امنیتی ممکن،
                                                        حفظ
                                                        نماید. در صورت بروز هرگونه مشکل امنیتی، سناتور متعهد به جبران
                                                        خسارت
                                                        خواهد بود.
                                                    </li>
                                                    <li>
                                                        در صورت تمایل برای برداشت ارزهای الکترونیک، مسئولیت ارائه‌ی آدرس
                                                        صحیح
                                                        کیف پول به عهده‌ی کاربر خواهد بود. در صورت بروز هر گونه مشکل اعم
                                                        از
                                                        اشتباه در ورود آدرس صحیح، نقص آدرس، مشکلات کیف پول مقصد و بلوکه
                                                        شدن
                                                        دارایی‌های کاربران در کیف پول مقصد، هیچ گونه مسئولیتی به عهده ی
                                                        سناتور نخواهد بود.
                                                    </li>
                                                    <li>
                                                        درخواست برداشت ریال از حساب کاربری در سریع‌ترین زمان ممکن پس از
                                                        ثبت،
                                                        بررسی خواهد شد. زمان واریز پول به حساب کاربران بر اساس
                                                        محدودیت‌های
                                                        انتقال وجه بین بانکی، متفاوت خواهد بود. برای اطلاعات بیش‌تر، به
                                                        قوانین
                                                        انتقال وجه بین بانکی (
                                                        <a href="https://www.cbi.ir/page/15730.aspx" target="_blank">پایا</a>
                                                        ،
                                                        <a href="https://www.cbi.ir/page/15738.aspx" target="_blank">ساتنا</a>
                                                        ) مراجعه فرمایید.
                                                    </li>
                                                    <li>
                                                        کاربر می‌پذیرد که به جز در موارد مورد تعهد سناتور، حق هیچ گونه
                                                        داعیه،
                                                        طلب و شکایت از سایت سناتور، مدیران، کارمندان و افراد مرتبط با
                                                        این
                                                        سایت را نخواهد داشت.
                                                    </li>
                                                    <li>
                                                        اگر سناتور تحت هر عنوان اشتباهاً یا من غیر حق، وجوه یا ارزی
                                                        را به
                                                        حساب کاربر منظور یا در محاسبات خود هر نوع اشتباهی نماید، هر زمان
                                                        مجاز
                                                        و مختار است راساً و مستقلاً و بدون انجام هیچ گونه تشریفات اداری
                                                        و
                                                        قضائی و دریافت اجازه کتبی از متعهد (صاحب حساب) در رفع اشتباه و
                                                        برداشت
                                                        از حساب‌های وی اقدام نماید و تشخیص سناتور نسبت به وقوع اشتباه یا
                                                        پرداخت بدون حق و لزوم برداشت از حساب معتبر خواهد بود و کاربر حق
                                                        هرگونه
                                                        اعتراض و ادعایی را در خصوص نحوه عملکرد سناتور از هر جهت از خود
                                                        ساقط
                                                        می نماید.
                                                    </li>
                                                    <li>
                                                        در صورت بروز هرگونه مشکل یا ابهام در هر یک از معاملات، سناتور حق
                                                        دارد
                                                        مستقلاً آن معامله را ابطال و دارایی‌های هر یک از طرفین را به
                                                        حساب
                                                        خودشان عودت دهد. بدیهی است که در صورتی که اشکال از سمت سناتور
                                                        باشد،
                                                        موظف خواهد بود که جبران خسارت نماید و در غیراین صورت کاربر حق
                                                        هرگونه
                                                        اعتراض و ادعایی را در خصوص نحوه عملکرد سناتور از هر جهت از خود
                                                        ساقط
                                                        می‌نماید.
                                                    </li>
                                                </ul>
                                                <h3>هزینه‌ها و کارمزدها</h3>
                                                <ul class="ult">
                                                    <li>
                                                        هزینه خدمات و کارمزد تراکنش‌های مالی انجام شده در سناتور مطابق
                                                        با
                                                        توضیحات ارائه شده در
                                                        <a asp-action="Index" asp-controller="Pricing" class="">
                                                            صفحه کارمزدها و هزینه خدمات
                                                        </a>
                                                        می‌باشد.
                                                    </li>
                                                </ul>
												<div class="text-center">
												<img src="~/theme/Desktop/assets/media/page/terms4-Billiard.png" class="img-fluid mb-10 mw-400">
												</div>

                                                <h3>قوانین مربوط به اجزای کارکردی</h3>
                                                <ul class="ult">
                                                    <li>
                                                        سناتور شامل اجزای کارکردی و قابلیت‌های مختلفی است که هر یک طبق
                                                        قوانین
                                                        و ملاحظات اطلاع‌رسانی شده برای آن‌ها مدیریت می‌شوند. برای اطلاع
                                                        از این
                                                        قوانین به
                                                        <a target="_blank" href="https://t.me/Billiard_ir">کانال تلگرام
                                                            سناتور</a>
                                                        و صفحات مربوط به
                                                        <a asp-action="Index" asp-controller="Faq" class="">
                                                            سوالات متداول
                                                        </a>و
                                                        <a asp-action="Referral" asp-controller="Policies"   class="">
                                                            طرح ارجاع کاربران
                                                        </a>
                                                    
                                                        مراجعه نمایید.
                                                    </li>
                                                </ul>
																		<div class="text-center">
							<img src="~/theme/Desktop/assets/media/page/terms5-Billiard.png" class="img-fluid mb-10 mw-400">
						</div>

                                                <h3>فرآیند تایید هویت</h3>
                                                <ul class="ult">
                                                    <li>
                                                        به منظور پیروی از قوانین ضد پول‌شویی، نیاز است تمام کاربران نسبت
                                                        به
                                                        تایید هویت خود اقدام کنند. تایید هویت در پنج مرحله با ارائه
                                                        مدارک
                                                        مربوطه صورت می‌گیرد.
                                                    </li>
                                                    <li><b>تایید ایمیل:</b>
                                                        پس از ثبت‌نام در سناتور، یک لینک تایید به آدرس ایمیل ثبت‌نامی
                                                        شما
                                                        ارسال می‌گردد. با تایید این لینک مرحله اول تایید هویت انجام
                                                        خواهد شد.
                                                        پس از این مرحله شما می‌توانید به حساب سناتور خود واریز ریال یا
                                                        ارز الکترونیک
                                                        داشته باشید اما امکان برداشت وجود نخواهد داشت.
                                                    </li>
                                                    <li><b>ورود اطلاعات شناسایی:</b>
                                                        با وارد نمودن نام و نام خانوادگی صحیح و دقیقا مشابه اطلاعات
                                                        شناسنامه و کد ملی و تاریخ تولد اطلاعات توسط کارشناسان سناتور
                                                        بررسی می شود و در صورت صحیح بودن آنها اجازه ادامه فرایند احراز
                                                        هویت به کاربر داده می شود
                                                    </li>
                                                    <li><b>تایید شماره تلفن همراه:</b>
                                                        با وارد نمودن شماره موبایل، یک کد تایید به آن ارسال خواهد شد، با
                                                        وارد
                                                        نمودن کد در سناتور موبایل شما مورد تایید قرار خواهد گرفت. در
                                                        وارد
                                                        نمودن شماره موبایل دقت نمایید زیرا یکی از راه‌های ارتباطی ما با
                                                        شما در
                                                        هنگام بروز مشکل همین خواهد بود. برای ارتقاء به سطح بزنزی،
                                                        شماره
                                                        تلفن همراه می بایست به نام خود کاربر باشد.
                                                    </li>
                                                    <li><b>تایید کارت ملی:</b>
                                                        در این مرحله با آپلود نمودن یک عکس با کیفیت از کارت ملی، شماره
                                                        ملی شما
                                                        تایید خواهد شد.
                                                    </li>
                                                    <li><b>تایید کارت بانکی: </b>
                                                        در این مرحله شماره کارت بانکی خود را وارد می‌کنید. دقت کنید نام
                                                        دارنده
                                                        کارت بانکی باید با تصویر کارت ملی ارسال شده مطابقت داشته باشد.
                                                        پس از
                                                        این مرحله شما امکان واریز به حساب سناتور خود را خواهید داشت.
                                                    </li>
                                                    <li><b>تایید حساب بانکی: </b>
                                                        در این مرحله شماره شبای حساب خود را وارد می‌کنید. دقت کنید نام
                                                        دارنده
                                                        حساب باید با تصویر کارت ملی ارسال شده مطابقت داشته باشد. پس از
                                                        این
                                                        مرحله شما امکان برداشت از حساب سناتور خود را خواهید داشت.
                                                    </li>
                                                    <li><b>تأیید سلفی: </b>
                                                        به منظور ارتقاء به سطح نقره ای، ارائه سلفی مطابق با الگوی تعیین
                                                        شده،
                                                        الزامیست.
                                                    </li>
                                                    <li><b>تأیید تلفن ثابت و آدرس: </b>
                                                        به منظور ارتقاء به سطح نقره ای، ارائه تلفن ثابت به همراه آدرس
                                                        محل
                                                        سکونت الزامیست. در این مرحله آدرس ارائه شده، توسط کارشناسان
                                                        احراز
                                                        هویت سناتور بررسی و یک نامه حاوی کد تایید آدرس برای شما ارسال می
                                                        شود که پس از دریافت نامه از مامور پست باید کد درج شده در نامه را
                                                        در بخش احراز صحت آدرس در سایت سناتور وارد نمایید و همچنین با
                                                        تلفن ثابت تماس حاصل می‌شود.
                                                    </li>

                                                </ul>
		

                                                <p class="blogp">
                                                    برای اطلاع بیشتر در مورد سطوح کاربری، مدارک مورد نیاز برای ارتقاء و
                                                    محدودیت های هر سطح به صفحه
                                                    <a asp-action="UserLevels" asp-controller="Policies"  class="">
                                                        سطوح حساب کاربری
                                                    </a>
                                                    در سناتور مراجعه فرمایید.
                                                </p>
												<div class="text-center">
						                     	<img src="~/theme/Desktop/assets/media/page/terms3-Billiard.png" class="img-fluid mb-10 mw-400">
						                        </div>
                                                <h3>تغییر در قوانین</h3>
                                                <p class="blogp">
                                                    هرگونه تغییر در قوانین، شروط ارائه خدمات، کارمزدها و مقررات مشابه،
                                                    از
                                                    طریق سایت سناتور به کاربران اطلاع‌رسانی خواهد شد.
                                                </p>
                                            </section>

                                        </div>
					</div>

				</div>

			</div>


			<div class="card mb-4 bg-light text-center">

				<div class="card-body py-12">

					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2"
							alt="">
					</a>

				</div>

			</div>

		</div>

	</div>

