@{
	Layout = "_LayoutPage";
	ViewData["Title"] = "سوالات متداول";
}

<div id="ppc_content_container" class="container">

	<div class="card mt-n10 mt-lg-n10 ">

		<div class="card-body p-lg-15">

			<div class="d-flex flex-column flex-lg-row">

				<div class="flex-lg-row-fluid">

					<div class="mb-13">

						<div class="mb-15">

							<h4 class="fs-2x text-gray-800 w-bolder mb-6">سوالات متداول پرسیده شده</h4>

						</div>


						<div class="mb-15">

							<h3 class="text-gray-800 w-bolder mb-4">معاملات و بازار</h3>



							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_1" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">سناتور چگونه کار می کند؟
									</h4>

								</div>


								<div id="ppc_job_8_1" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">

										سناتور یک شبکه اختصاصی در حوزه بلاکچین و رمزارزها است که شامل یک پلتفرم معاملاتی
										شخص به شخص نیز می شود و به شما این امکان را می دهد که با
										دیگر خریداران و فروشندگان ارز های دیجیتال یا ارز های الکترونیک به معامله
										بپردازید؛ به نوعی این پلتفرم وصل کننده خریدار و فروشنده می باشد و خود نقشی در
										خرید و فروش ها ندارد.

									</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>


							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_2" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										برای معامله از کجا شروع کنم؟
									</h4>

								</div>


								<div id="ppc_job_8_2" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">
										برای شروع معامله در سناتور نیاز است که ثبت نام کنید و سپس ایمیل خود را تایید
										نمایید. معامله در سناتور به دو صورت امکان پذیر است، معامله فقط با ارزهای دیجیتال
										و معامله با ریال یا ارز های الکترونیک. در مورد اول شما نیاز به احراز هویت ندارید
										و بدون مشکل می توانید نسبت به خرید و فروش اقدام کنید،اما اگر قصد معامله با ریال
										را دارید باید نسبت به احراز هویت از بخش حساب کاربری > ارسال مدارک شناسایی جهت
										احراز هویت اقدام نمایید.
									</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>


							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_3" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										چگونه یک معامله باز کنم؟
									</h4>

								</div>


								<div id="ppc_job_8_3" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">

										شما برای شروع یک معامله نیاز به یک دارایی اولیه دارید، یعنی یا باید یک کوین به
										وب سایت واریز کنید و آن را بفروشید تا ریال یا دلار تتر بدست آورید یا باید از بخش
										کیف پول نسبت به واریز ریال اقدام نمایید و سپس از مشتریانی که فروشنده ارز دیجیتال
										یا ارز الکترونیک هستند نسبت به خرید ارز دیجیتال یا ارز الکترونیک اقدام نمایید.
									</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>



							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_4" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										چگونه میتوانم سریع اقدام به خرید و فروش با قیمت حال حاضر بازار کنم؟

									</h4>

								</div>


								<div id="ppc_job_8_4" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
										برای این کار نیاز است از بخش "قیمت بازار" با قیمت بازار اقدام نمایید؛ توجه داشته
										باشید با توجه به اینکه شما در این قسمت نسبت به خرید یا فروش از کل سفارشات ثبت
										شده اقدام می کنید، خرید یا فروش با قیمت میانگین محاسبه شده و به صرفه نخواهد بود.
									</div>

								</div>
								<div class="separator separator-dashed"></div>
							</div>

							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_5" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										چگونه یک سفارش باز کنم؟

									</h4>

								</div>


								<div id="ppc_job_8_5" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
										برای خرید یا فروش شما دو راه در پیش دارید:
										- معامله با قیمت حال حاضر بازار که لیست آن ها را می توانید در بخش لیست سفارشات
										مشاهده کنید.
										- معامله با قیمت پیش نهادی خود که باید مقدار و قیمت خود را مشخص کنید تا در زمان
										رسیدن به قیمت پشنهادی شما، یک فروشنده یا خریدار آن را قبول کرده و معامله شما
										صورت پذیرد.
									</div>

								</div>
								<div class="separator separator-dashed"></div>
							</div>

							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_6" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										سود سناتور از کجاست؟

									</h4>

								</div>


								<div id="ppc_job_8_6" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
										سود سناتور از انجام یک معامله دریافت می شود. ثبت و حذف سفارش دارای کارمزد نمی
										باشد.
									</div>

								</div>

								<div class="separator separator-dashed"></div>
							</div>

							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_7" aria-expanded="false">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										حد ضرر دارایی چیست؟

									</h4>

								</div>


								<div id="ppc_job_8_7" class="fs-6 ms-1 collapse" style="">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
										فرض کنید که شما در قیمت 300 میلیون تومان یک عدد بیت کوین خریده اید و می خواهید
										زمانی که قیمت زیر 280 میلیون تومان رفت از بازار با 20 میلیون تومان ضرر خارج
										شوید. برای چنین کاری نیاز است که شما یک سفارش فروش حد ضرر ثبت کنید و در بخش
										قیمت، قیمت 280 میلیون تومان را ثبت کنید.
									</div>

								</div>
								<div class="separator separator-dashed"></div>
							</div>

							<div class="m-0">
								<div class="d-flex align-items-center collapsible py-3 toggle mb-0 collapsed"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_8_8" aria-expanded="false">
									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">
										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">

												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>

												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>

											</svg>

										</span>
										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">

												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>

												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>

											</svg>

										</span>
									</div>
									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										حد سود دارایی چیست؟
									</h4>
								</div>
								<div id="ppc_job_8_8" class="fs-6 ms-1 collapse" style="">
									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10">
										فرض کنید که شما در قیمت 300 میلیون تومان یک عدد بیت کوین خریده اید و می خواهید
										زمانی که قیمت به 320 میلیون تومان رفت از بازار با 20 میلیون تومان سود خارج شوید.
										برای چنین کاری نیاز است که شما یک سفارش فروش حد سود ثبت کنید و در بخش قیمت، قیمت
										320 میلیون تومان را ثبت کنید.

									</div>
								</div>

							</div>
						</div>


						<div class="mb-15">

							<h3 class="text-gray-800 w-bolder mb-4">
								کیف پول
							</h3>



											<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_9_1">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										کیف پول چیست؟
									</h4>

								</div>


								<div id="ppc_job_9_1" class="collapse fs-6 ms-1">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">
به صورت کلی شما در سناتور دارای یک کیف پول دیجیتالی برای همه ارز ها هستید که به آن کیف پول میگوییم. برای انجام یک معامله شما نیاز به دارایی اولیه دارید که بسته به نظر شما میتواند ریال یا ارز دیجیتال یا ارز الکترونیک باشد.
									</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>



							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_9_2">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										چگونه میتوانم دارایی خود را به سناتور واریز کنم؟
									</h4>

								</div>


								<div id="ppc_job_9_2" class="collapse fs-6 ms-1">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">
										شما می توانید از منوی کیف پول وارد بخش واریز شوید؛ سپس با انتخاب ارز دلخواه، ارز
										خود را به‌ آدرس نمایش داده شده ارسال کنید یا درصورتی که میخواهد کیف پول ریالی
										خود شارژ کنید در بخش کیف پول ها به کیف پول تومان مراجعه کنید و از بین کارت های
										تایید شده خود یک کارت را انتخاب کنید و با وارد کردن مبلغ دلخواه وارد درگاه
										پرداخت شوید و با وارد کردن اطلاعات کارت انتخاب شده پرداخت را انجام دهید.
									</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>


							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_9_3">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
							برداشت از کیف پول چگونه است؟
										</h4>

								</div>


								<div id="ppc_job_9_3" class="collapse fs-6 ms-1">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">
	شما می توانید از منوی کیف پول وارد بخش برداشت شوید؛ سپس شما باید پس از تایید هویت و فعال سازی دو مرحله ای گوگل و وارد نمودن کد پیامک شده اقدام به ثبت سفارش برداشت نمایید. پس از تایید ایمیل ارسال شده از طرف سایت به شما، سفارش شما در صف ارسال قرار میگیرد و با توجه به توضیحات ارائه شده در همین قسمت، سفارش شما به آدرس یا حساب ارسالی، واریز خواهد شد.
										</div>

								</div>


								<div class="separator separator-dashed"></div>

							</div>


							<div class="m-0">

								<div class="d-flex align-items-center collapsible py-3 toggle collapsed mb-0"
									data-bs-toggle="collapse" data-bs-target="#ppc_job_9_4">

									<div class="btn btn-sm btn-icon mw-20px btn-active-color-primary me-5">

										<span class="svg-icon toggle-on svg-icon-primary svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path
													d="M8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11H16C16.5523 11 17 11.4477 17 12C17 12.5523 16.5523 13 16 13H8Z"
													fill="#12131A"></path>
											</svg>
										</span>


										<span class="svg-icon toggle-off svg-icon-1">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
												viewBox="0 0 24 24" fill="none">
												<path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
													d="M6.54184 2.36899C4.34504 2.65912 2.65912 4.34504 2.36899 6.54184C2.16953 8.05208 2 9.94127 2 12C2 14.0587 2.16953 15.9479 2.36899 17.4582C2.65912 19.655 4.34504 21.3409 6.54184 21.631C8.05208 21.8305 9.94127 22 12 22C14.0587 22 15.9479 21.8305 17.4582 21.631C19.655 21.3409 21.3409 19.655 21.631 17.4582C21.8305 15.9479 22 14.0587 22 12C22 9.94127 21.8305 8.05208 21.631 6.54184C21.3409 4.34504 19.655 2.65912 17.4582 2.36899C15.9479 2.16953 14.0587 2 12 2C9.94127 2 8.05208 2.16953 6.54184 2.36899Z"
													fill="#12131A"></path>
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M12 17C12.5523 17 13 16.5523 13 16V13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H13V8C13 7.44772 12.5523 7 12 7C11.4477 7 11 7.44772 11 8V11H8C7.44772 11 7 11.4477 7 12C7 12.5523 7.44771 13 8 13H11V16C11 16.5523 11.4477 17 12 17Z"
													fill="#12131A"></path>
											</svg>
										</span>

									</div>


									<h4 class="text-gray-700 fw-bolder cursor-pointer mb-0">
										تاریخچه برداشت یا واریز چیست؟
										</h4>

								</div>


								<div id="ppc_job_9_4" class="collapse fs-6 ms-1">

									<div class="mb-4 text-gray-600 fw-bold fs-6 ps-10 blogp">اول ، سلب مسئولیت - کل مراحل
										نوشتن یک پست وبلاگ اغلب بیش از دو ساعت طول می کشد ، حتی اگر بتوانید هشتاد کلمه
										را در هر دقیقه تایپ کنید و مهارت نوشتن شما تیز باشد.</div>

								</div>

							</div>


						</div>


	

					</div>

				</div>

			</div>


			<div class="card mb-4 bg-light text-center">

				<div class="card-body py-12">

					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2"
							alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="">
					</a>


					<a href="#" class="mx-4">
						<img src="~/theme/Desktop/assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2"
							alt="">
					</a>

				</div>

			</div>

		</div>

	</div>

</div>