<div class="mb-n10 mb-lg-n20 z-index-2">
    <div class="container">
        <div class="text-center mb-17">
            <h3 class="fs-2hx text-dark mb-5" id="how-it-works" data-ppc-scroll-offset="{default: 100, lg: 150}">چرا
                سناتور را انتخاب کنیم؟</h3>
            <div class="fs-5 text-muted fw-bold">

            </div>
        </div>
        <div class="row w-100 gy-10 mb-md-20">
            <div class="col-md-4 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img loading="lazy" src="~/theme/Desktop/assets/media/illustrations/process-2.png" class="mh-125px mb-9" alt="" />
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-success fw-bolder p-5 me-3 fs-3">1</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">ساده و کاربردی </div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-muted">
                        محیط ساده و کاربردی سناتور، معامله ارزدیجیتال را برای شما لذت بخش خواهد کرد.

                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img loading="lazy" src="~/theme/Desktop/assets/media/illustrations/process-3.png" class="mh-125px mb-9" alt="" />
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-success fw-bolder p-5 me-3 fs-3">2</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">خرید و فروش امن</div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-muted">
                        اولویت سناتور امنیت است. با خیالی آسوده و بدون نگرانی خرید و فروش کنید.
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5">
                <div class="text-center mb-10 mb-md-0">
                    <img loading="lazy" src="~/theme/Desktop/assets/media/illustrations/process-4.png" class="mh-125px mb-9" alt="" />
                    <div class="d-flex flex-center mb-5">
                        <span class="badge badge-circle badge-light-success fw-bolder p-5 me-3 fs-3">3</span>
                        <div class="fs-5 fs-lg-3 fw-bolder text-dark">پیشرو و سریع </div>
                    </div>
                    <div class="fw-bold fs-6 fs-lg-4 text-muted">
                        تنوع رمزارزها و سرعت معاملات، سناتور را جزو بهترین بازارهای آنلاین قرار داده است.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mt-sm-20">

    <div class="pb-15 pt-18 landing-dark-bg">
        <div class="container">
            <div class="text-center mt-15 mb-18" id="achievements" data-ppc-scroll-offset="{default: 100, lg: 150}">
                <h3 class="fs-2hx text-white fw-bolder mb-5">آمار دقیق سناتور</h3>
                <div class="fs-5 text-gray-700 fw-bold">
                    آمار دقیق و لحظه ای سناتور
                </div>
            </div>
            <div class="d-flex flex-center">
                <div class="d-flex flex-wrap flex-center justify-content-lg-between mb-15 mx-auto w-xl-900px">
                    <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                        style="background-image: url('theme/Desktop/assets/media/svg/misc/octagon.svg')">
                        <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path opacity="0.25"
                                    d="M13.1721 15.4724C13.3364 14.2725 14.2725 13.3364 15.4724 13.1721C16.1606 13.0778 16.9082 13 17.5 13C18.0918 13 18.8394 13.0778 19.5276 13.1721C20.7275 13.3364 21.6636 14.2725 21.8279 15.4724C21.9222 16.1606 22 16.9082 22 17.5C22 18.0918 21.9222 18.8394 21.8279 19.5276C21.6636 20.7275 20.7275 21.6636 19.5276 21.8279C18.8394 21.9222 18.0918 22 17.5 22C16.9082 22 16.1606 21.9222 15.4724 21.8279C14.2725 21.6636 13.3364 20.7275 13.1721 19.5276C13.0778 18.8394 13 18.0918 13 17.5C13 16.9082 13.0778 16.1606 13.1721 15.4724Z"
                                    fill="#12131A" />
                                <path opacity="0.25"
                                    d="M2.17209 15.4724C2.33642 14.2725 3.27253 13.3364 4.47244 13.1721C5.16065 13.0778 5.90816 13 6.5 13C7.09184 13 7.83935 13.0778 8.52756 13.1721C9.72747 13.3364 10.6636 14.2725 10.8279 15.4724C10.9222 16.1606 11 16.9082 11 17.5C11 18.0918 10.9222 18.8394 10.8279 19.5276C10.6636 20.7275 9.72747 21.6636 8.52756 21.8279C7.83935 21.9222 7.09184 22 6.5 22C5.90816 22 5.16065 21.9222 4.47244 21.8279C3.27253 21.6636 2.33642 20.7275 2.17209 19.5276C2.07784 18.8394 2 18.0918 2 17.5C2 16.9082 2.07784 16.1606 2.17209 15.4724Z"
                                    fill="#12131A" />
                                <path opacity="0.25"
                                    d="M13.1721 4.47244C13.3364 3.27253 14.2725 2.33642 15.4724 2.17209C16.1606 2.07784 16.9082 2 17.5 2C18.0918 2 18.8394 2.07784 19.5276 2.17209C20.7275 2.33642 21.6636 3.27253 21.8279 4.47244C21.9222 5.16065 22 5.90816 22 6.5C22 7.09184 21.9222 7.83935 21.8279 8.52756C21.6636 9.72747 20.7275 10.6636 19.5276 10.8279C18.8394 10.9222 18.0918 11 17.5 11C16.9082 11 16.1606 10.9222 15.4724 10.8279C14.2725 10.6636 13.3364 9.72747 13.1721 8.52756C13.0778 7.83935 13 7.09184 13 6.5C13 5.90816 13.0778 5.16065 13.1721 4.47244Z"
                                    fill="#12131A" />
                                <path
                                    d="M2.17209 4.47244C2.33642 3.27253 3.27253 2.33642 4.47244 2.17209C5.16065 2.07784 5.90816 2 6.5 2C7.09184 2 7.83935 2.07784 8.52756 2.17209C9.72747 2.33642 10.6636 3.27253 10.8279 4.47244C10.9222 5.16065 11 5.90816 11 6.5C11 7.09184 10.9222 7.83935 10.8279 8.52756C10.6636 9.72747 9.72747 10.6636 8.52756 10.8279C7.83935 10.9222 7.09184 11 6.5 11C5.90816 11 5.16065 10.9222 4.47244 10.8279C3.27253 10.6636 2.33642 9.72747 2.17209 8.52756C2.07784 7.83935 2 7.09184 2 6.5C2 5.90816 2.07784 5.16065 2.17209 4.47244Z"
                                    fill="#12131A" />
                            </svg>
                        </span>
                        <div class="mb-0">
                            <div class="fs-lg-2hx fs-2x fw-bolder text-white d-flex flex-center">
                                <div class="min-w-70px" data-ppc-countup="true" data-ppc-countup-value="700"
                                    data-ppc-countup-suffix="+">0</div>
                            </div>
                            <span class="text-gray-600 fw-bold fs-5 lh-0">تعداد کاربران</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                        style="background-image: url('theme/Desktop/assets/media/svg/misc/octagon.svg')">
                        <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.998 21.9445C13.4491 22.0057 13 21.5523 13 21L13 14C13 13.4477 13.4477 13 14 13L21 13C21.5523 13 22.0058 13.4491 21.9445 13.998C21.8509 14.8372 21.6394 15.6609 21.3149 16.4442C20.8626 17.5361 20.1997 18.5282 19.364 19.364C18.5282 20.1997 17.5361 20.8626 16.4442 21.3149C15.6609 21.6394 14.8373 21.8509 13.998 21.9445Z"
                                    fill="#12131A" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.9445 10.0019C22.0057 10.5508 21.5523 10.9999 21 10.9999L14 10.9999C13.4477 10.9999 13 10.5521 13 9.99986L13 2.99986C13 2.44758 13.4491 1.99412 13.9979 2.05536C14.8372 2.149 15.6609 2.3605 16.4441 2.68495C17.5361 3.13724 18.5282 3.80017 19.3639 4.6359C20.1997 5.47163 20.8626 6.46378 21.3149 7.55571C21.6393 8.33899 21.8508 9.16262 21.9445 10.0019Z"
                                    fill="#12131A" />
                                <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.002 3.05559C10.5509 2.99437 11 3.44784 11 4.00012L11 20.0001C11 20.5524 10.5509 21.0059 10.002 20.9446C7.98222 20.7193 6.08694 19.815 4.63604 18.3641C2.94821 16.6763 2 14.3871 2 12.0001C2 9.61317 2.94821 7.32398 4.63604 5.63616C6.08694 4.18525 7.98222 3.2809 10.002 3.05559Z"
                                    fill="#12131A" />
                            </svg>
                        </span>
                        <div class="mb-0">
                            <div class="fs-lg-2hx fs-2x fw-bolder text-white d-flex flex-center">
                                <div class="min-w-70px" data-ppc-countup="true" data-ppc-countup-value="80"
                                    data-ppc-countup-suffix="K+">0</div>
                            </div>
                            <span class="text-gray-600 fw-bold fs-5 lh-0">معاملات انجام شده</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                        style="background-image: url('theme/Desktop/assets/media/svg/misc/octagon.svg')">
                        <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path opacity="0.25"
                                    d="M3.19406 11.1644C3.09247 10.5549 3.56251 10 4.18045 10H19.8195C20.4375 10 20.9075 10.5549 20.8059 11.1644L19.4178 19.4932C19.1767 20.9398 17.9251 22 16.4586 22H7.54138C6.07486 22 4.82329 20.9398 4.58219 19.4932L3.19406 11.1644Z"
                                    fill="#7E8299" />
                                <path
                                    d="M2 9.5C2 8.67157 2.67157 8 3.5 8H20.5C21.3284 8 22 8.67157 22 9.5C22 10.3284 21.3284 11 20.5 11H3.5C2.67157 11 2 10.3284 2 9.5Z"
                                    fill="#7E8299" />
                                <path
                                    d="M10 13C9.44772 13 9 13.4477 9 14V18C9 18.5523 9.44772 19 10 19C10.5523 19 11 18.5523 11 18V14C11 13.4477 10.5523 13 10 13Z"
                                    fill="#7E8299" />
                                <path
                                    d="M14 13C13.4477 13 13 13.4477 13 14V18C13 18.5523 13.4477 19 14 19C14.5523 19 15 18.5523 15 18V14C15 13.4477 14.5523 13 14 13Z"
                                    fill="#7E8299" />
                                <g opacity="0.25">
                                    <path
                                        d="M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L4.29289 7.29289C3.90237 7.68342 3.90237 8.31658 4.29289 8.70711C4.68342 9.09763 5.31658 9.09763 5.70711 8.70711L10.7071 3.70711Z"
                                        fill="#7E8299" />
                                    <path
                                        d="M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L19.7071 7.29289C20.0976 7.68342 20.0976 8.31658 19.7071 8.70711C19.3166 9.09763 18.6834 9.09763 18.2929 8.70711L13.2929 3.70711Z"
                                        fill="#7E8299" />
                                </g>
                            </svg>
                        </span>
                        <div class="mb-0">
                            <div class="fs-lg-2hx fs-2x fw-bolder text-white d-flex flex-center">
                                <div class="min-w-70px" data-ppc-countup="true" data-ppc-countup-value="35"
                                    data-ppc-countup-suffix="+">0</div>
                            </div>
                            <span class="text-gray-600 fw-bold fs-5 lh-0">تعداد ارز های دیجیتال</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="mb-lg-n15 position-relative z-index-2">
    <div class="container">
        <div class="card" style="filter: drop-shadow(0px 0px 40px rgba(68, 81, 96, 0.08))">
            <div class="card-body p-lg-20">
                <div class="text-center mb-5 mb-lg-10">
                    <h3 class="fs-2hx text-dark mb-5" id="portfolio" data-ppc-scroll-offset="{default: 100, lg: 150}">
                        مسابقات سناتور</h3>
                </div>
                <div class="card mb-5 mb-xl-8">
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder fs-3 mb-1">در مسابقات سناتور شرکت کنید و برنده شوید</span>
                        </h3>

                    </div>
                    <div class="card-body py-3" id="ppc_live_pricing">
                        <div class="table-responsive">
                            <table class="table table-hover align-middle gy-4">
                                <thead>
                                    <tr class="fw-bolder text-muted bg-light">
                                        <th class="ps-4 min-w-200px rounded-start">نام مسابقه</th>
                                        <th class="min-w-100px">تعداد شرکت کننده</th>
                                        <th class="min-w-125px">تاریخ برگزاری</th>
                                        <th class="min-w-120px">وضعیت</th>
                                        <th class="min-w-100px text-end rounded-end"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex justify-content-start flex-column">
                                                    <a href="#"
                                                        class="text-dark fw-bolder text-hover-primary mb-1 fs-6">مسابقه شماره یک</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#"
                                                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">698 نفر</a>
                                         </td>
                                        <td>
                                            <a href="#"
                                                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">20 آذر 1400</a>
                                         </td>
                                        <td>
                                                    <a href="#"
                                                class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">فعال</a>
                                        </td>
                                        <td class="text-end">
                                            <div class="btn-group" role="group" aria-label="بازار معاملاتی">
                                                <a href="#" class="btn btn-success cdbr">شرکت در مسابقه</a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

 
            </div>
        </div>
    </div>
</div>



<div class="mt-sm-n20">
    <div class="landing-curve landing-dark-color">
        <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
                fill="currentColor"></path>
        </svg>
    </div>
    <div class="py-20 landing-dark-bg">
        <div class="container">
            <div class="d-flex flex-column container pt-lg-20">
                <div class="mb-13 text-center">
                    <h1 class="fs-2hx fw-bolder text-white mb-5" id="pricing"
                        data-ppc-scroll-offset="{default: 100, lg: 150}">سطوح کاربری و کارمزد معاملات در سناتور</h1>
                    <div class="text-gray-600 fw-bold fs-5">

                        کارمزد سناتور بعد از انجام یک معامله دریافت می شود. ثبت و حذف سفارش دارای کارمزد نمی باشد.

                        <br />
                    </div>
                </div>
                <div class="text-center" id="ppc_pricing">
                    <div class="nav-group landing-dark-bg d-inline-flex mb-15" data-ppc-buttons="true"
                        style="border: 1px dashed #2B4666;">
                        <a href="#" class="btn btn-color-gray-600 btn-active btn-active-success px-6 py-3 me-2 active"
                            data-ppc-plan="exchange">صرافی سناتور</a>
                        <a href="#" class="btn btn-color-gray-600 btn-active btn-active-success px-6 py-3"
                            data-ppc-plan="market">بازار معاملات سناتور</a>
                    </div>
                    <div class="row g-10">
                        <div class="col-xl-4">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-white py-15 px-10">
                                    <div class="mb-7 text-center">
                                        <h1 class="text-dark mb-5 fw-boldest">سطح یک</h1>
                                        <div class="text-gray-400 fw-bold mb-5">عضویت و احراز هویت اولیه</div>
                                        <div class="text-center">
                                            <span class="mb-2 text-primary"> برداشت روزانه</span>
                                            <span class="fs-3x fw-bolder text-primary">50 میلیون</span>
                                            <span class="fs-7 fw-bold opacity-75"> تومان</span>
                                        </div>
                                    </div>
                                    <div class="w-100 mb-10">
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">کارمزد</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <span class="fs-7 fw-bold opacity-75"
                                                    data-ppc-plan-price-exchange="0.4 درصد"
                                                    data-ppc-plan-price-market="0.3 درصد">0.4 درصد</span>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">واریز
                                                نامحدود</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                تومان</span>
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                        fill="#000000" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود ارز
                                                دیجیتال</span>
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                        fill="#000000" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                وبمانی</span>
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                        fill="#000000" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">شروع کنید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-primary py-20 px-10">
                                    <div class="mb-7 text-center">
                                        <h1 class="text-white mb-5 fw-boldest">سطح دو</h1>
                                        <div class="text-white opacity-75 fw-bold mb-5">احراز هویت کامل</div>
                                        <div class="text-center">
                                            <span class="mb-2 text-white"> برداشت روزانه</span>
                                            <span class="fs-3x fw-bolder text-white">500 میلیون</span>
                                            <span class="fs-7 fw-bold text-white opacity-75"> تومان</span>
                                        </div>
                                    </div>
                                    <div class="w-100 mb-10">
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">کارمزد</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <span class="fs-7 fw-bold opacity-75"
                                                    data-ppc-plan-price-exchange="0.3 درصد"
                                                    data-ppc-plan-price-market="0.2 درصد">0.3 درصد</span>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">واریز
                                                نامحدود</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                تومان</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                        fill="#000000" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود ارز
                                                دیجیتال</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                وبمانی</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-white">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-color-primary btn-active-light-primary btn-white">شروع
                                        کنید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-white py-15 px-10">
                                    <div class="mb-7 text-center">
                                        <h1 class="text-dark mb-5 fw-boldest">سطح سه</h1>
                                        <div class="text-gray-400 fw-bold mb-5">حجم معاملات بالای یک میلیارد تومان</div>
                                        <div class="text-center">
                                            <span class="mb-2 text-primary"> برداشت روزانه</span>
                                            <span class="fs-3x fw-bolder text-primary">نامحدود</span>
                                        </div>
                                    </div>

                                    <div class="w-100 mb-10">
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">کارمزد</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <span class="fs-7 fw-bold opacity-75"
                                                    data-ppc-plan-price-exchange="0.2 درصد"
                                                    data-ppc-plan-price-market="0.1 درصد">0.2 درصد</span>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">واریز
                                                نامحدود</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                تومان</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack mb-5">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود ارز
                                                دیجیتال</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-stack">
                                            <span class="fw-bold fs-6 text-gray-800 text-start pe-3">برداشت نامحدود
                                                وبمانی</span>
                                            <span class="svg-icon svg-icon-1 svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" version="1.1">
                                                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                    <path
                                                        d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                        fill="#000000" fill-rule="nonzero" />
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">بیشتر بدانید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-curve landing-dark-color">
        <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
                fill="currentColor"></path>
        </svg>
    </div>
</div>

<div class="py-10 py-lg-20">
    <div class="container">
        <div class="text-center mb-12">
            <h3 class="fs-2hx text-dark mb-5" id="تیم" data-ppc-scroll-offset="{default: 100, lg: 150}">آخرین اطلاعیه ها
            </h3>
            <div class="fs-5 text-muted fw-bold">
                برای ورود به آرشیو اطلاعیه ها <a href="#"> اینجا </a> کلیک کنید
            </div>
        </div>
        <div class="tns tns-default">
            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000"
                data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false"
                data-tns-items="1" data-tns-center="false" data-tns-dots="false"
                data-tns-prev-button="#ppc_team_slider_prev" data-tns-next-button="#ppc_team_slider_next"
                data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center"
                        style="background-image: url('theme/Desktop/assets/media/notification/1.jpg')"></div>
                    <div class="mb-0">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">افتتاحیه</a>
                        <div class="text-muted fs-6 fw-bold mt-1">بیستم فروردین 1400</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-icon btn-active-color-primary" id="ppc_team_slider_prev">
                <span class="svg-icon svg-icon-3x">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                                d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                fill="#000000" fill-rule="nonzero"
                                transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999)" />
                        </g>
                    </svg>
                </span>
            </button>
            <button class="btn btn-icon btn-active-color-primary" id="ppc_team_slider_next">
                <span class="svg-icon svg-icon-3x">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                                d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z"
                                fill="#000000" fill-rule="nonzero"
                                transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999)" />
                        </g>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</div>


<div class="mt-20 mb-n20 position-relative z-index-2">
    <div class="container">

        <div class="d-flex flex-stack flex-wrap flex-md-nowrap card-rounded shadow p-8 p-lg-12 mb-n5 mb-lg-n13"
            style="background: linear-gradient(90deg, #2EBAFF 0%, #396CE3 100%);">
            <div class="my-2 me-5">
                <div class="fs-1 fs-lg-2qx fw-bolder text-white mb-2">
                     بازار معاملات غیر متمرکز ارزهای دیجیتال را در
                    <span class="fw-normal"> پلتفرم امن سناتور </span>
                    تجربه کنید
                </div>
                <div class="fs-6 fs-lg-5 text-white fw-bold opacity-75">سریع، امن، مطمئن </div>
            </div>
            <a href="#" class="btn btn-lg btn-outline border-2 btn-outline-white flex-shrink-0 my-2">ورود به بازار
                </a>
        </div>
    </div>
</div>
