@{
	ViewData["Title"] = "Index";
}

<div id="ppc_content_container" class="container">
	<div class="d-flex flex-wrap flex-stack mb-6">
		<h3 class="fw-bolder my-2">دنبال کنندگان
			<span class="fs-6 text-gray-400 fw-bold ms-1">(59)</span>
		</h3>
		<div class="d-flex my-2">

		</div>
	</div>
	<div class="row g-6 g-xl-9">
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-1.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">اتنا ابراهیمی</a>
					<div class="fw-bold text-gray-400 mb-6">کارگردان هنری</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<span class="symbol-label bg-light-danger text-danger fs-5 fw-bolder">M</span>
							<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n3 mt-n3">
							</div>
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">شهریار حسینی</a>
					<div class="fw-bold text-gray-400 mb-6">تحلیلی بازاریابی</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-2.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">محمد ابراهیمی</a>
					<div class="fw-bold text-gray-400 mb-6">مهندس نرم افزار</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-4.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">میلاد رئیسی</a>
					<div class="fw-bold text-gray-400 mb-6">توسعه دهنده وب</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-15.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">شهریار حسینی</a>
					<div class="fw-bold text-gray-400 mb-6">طراح یو ای و یوایکس</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<span class="symbol-label bg-light-warning text-warning fs-5 fw-bolder">M</span>
							<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n3 mt-n3">
							</div>
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">میلاد رئیسی</a>
					<div class="fw-bold text-gray-400 mb-6">رئیس بازاریابی</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-8.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">محمد رصایی</a>
					<div class="fw-bold text-gray-400 mb-6">نرم افزار هنری</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<span class="symbol-label bg-light-danger text-danger fs-5 fw-bolder">O</span>
							<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n3 mt-n3">
							</div>
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">شهریار حسینی</a>
					<div class="fw-bold text-gray-400 mb-6">مدیر سیستم</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<span class="symbol-label bg-light-primary text-primary fs-5 fw-bolder">N</span>
							<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n3 mt-n3">
							</div>
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">میلاد رئیسی</a>
					<div class="fw-bold text-gray-400 mb-6">اکانت کاربر مدیر</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-6.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">علی کاربر</a>
					<div class="fw-bold text-gray-400 mb-6">طراح سایت</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<span class="symbol-label bg-light-danger text-danger fs-5 fw-bolder">E</span>
							<div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n3 mt-n3">
							</div>
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">اتنا رضایی</a>
					<div class="fw-bold text-gray-400 mb-6">دارایی، مالیه، سرمایه گذاری</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xxl-4">
			<div class="card">
				<div class="card-body d-flex flex-center flex-column p-9">
					<div class="mb-5">
						<div class="symbol symbol-75px symbol-circle">
							<img alt="Pic" src="~/theme/Desktop/assets/media/avatars/150-7.jpg">
						</div>
					</div>
					<a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">علی کاربر</a>
					<div class="fw-bold text-gray-400 mb-6">ارتباط مشتری</div>
					<div class="d-flex flex-center flex-wrap mb-5">
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mx-3 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان14,560</div>
							<div class="fw-bold text-gray-400">میانگین درامد</div>
						</div>
						<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 mx-3 px-4 mb-3">
							<div class="fs-6 fw-bolder text-gray-700"> تومان236,400</div>
							<div class="fw-bold text-gray-400">مجموعه فروش</div>
						</div>
					</div>
					<a href="#" class="btn btn-sm btn-light-primary fw-bolder" data-ppc-drawer-toggle="true"
						data-ppc-drawer-target="#ppc_drawer_chat">ارسال پیام</a>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex flex-stack flex-wrap pt-10">
		<div class="fs-6 fw-bold text-gray-700">نمایش 1 تا 10 از 50 تا ردیف</div>
		<ul class="pagination">
			<li class="page-مورد previous">
				<a href="#" class="page-link">
					<i class="previous"></i>
				</a>
			</li>
			<li class="page-item active">
				<a href="#" class="page-link">1</a>
			</li>
			<li class="page-مورد">
				<a href="#" class="page-link">2</a>
			</li>
			<li class="page-مورد">
				<a href="#" class="page-link">3</a>
			</li>
			<li class="page-مورد">
				<a href="#" class="page-link">4</a>
			</li>
			<li class="page-مورد">
				<a href="#" class="page-link">5</a>
			</li>
			<li class="page-مورد">
				<a href="#" class="page-link">6</a>
			</li>
			<li class="page-مورد next">
				<a href="#" class="page-link">
					<i class="next"></i>
				</a>
			</li>
		</ul>
	</div>
</div>