@{
    ViewData["Title"] = "شبکه اجتماعی سناتور";
}

<div class="card">

	<div class="card-body py-2 me-xxl-9">

		<div class="d-flex flex-column flex-xl-row">

			<div class="flex-lg-row-fluid">

				<div class="card">

					<div class="card-body py-14 me-lg-10">

						<form method="post" action="#" class="form">

							<div class="position-relative mb-15 pt-1">

								<span
									class="svg-icon svg-icon-1 svg-icon-primary position-absolute top-50 translate-middle ms-9">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
										width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<rect x="0" y="0" width="24" height="24" />
											<path
												d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
												fill="#000000" fill-rule="nonzero" opacity="0.3" />
											<path
												d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
												fill="#000000" fill-rule="nonzero" />
										</g>
									</svg>
								</span>

								<input type="text" class="form-control form-control-lg form-control-solid ps-14"
									name="search" value="" placeholder="جستجو" />
							</div>

						</form>





						<div class="mb-0">

							<div class="d-flex mb-10">
								<div class="card bg-primary bg-opacity-5 w-100">

									<div class="card-body">

										<h2 class="text-dark fw-bolder mb-11">ارسال پست جدید</h2>

										<div class="mb-10 mt-5">
											<textarea id="content"></textarea>
										</div>


									</div>

								</div>



							</div>


							<div class="d-flex mb-10">

								<div class="card bg-primary bg-opacity-5 w-100">

									<div class="card-body">

										<div class="d-flex align-items-center">

											<div class="symbol symbol-40 symbol-light-success mr-5">
												<span class="symbol-label">
													<img src="/theme/Desktop/assets/media/svg/avatars/018-girl-9.svg"
														class="h-75 align-self-end" alt="">
												</span>
											</div>



											<div class="d-flex flex-column flex-grow-1">
												<a href="#"
													class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-bolder">گریس
													لوگان</a>
												<span class="text-muted font-weight-bold"> طراح دیتابیس</span>
											</div>



											<div class="my-0">
												<div class="HeartAnimation"></div>
											</div>

										</div>



										<div class="pt-5">

											<p class="text-dark-75 font-size-lg font-weight-normal  mb-2">
												طرح ها شما را صداقت می کند. آنها شما را از غرق شدن باز می دارند
												استعاره های اندیشه نشده در مورد رانندگی و نگه داشتن شما
												روی ساختار کلی پست شما متمرکز شده است
											</p>




											<div class="d-flex align-items-center mb-5">
												<span
													class="btn btn-sm btn-light btn-color-muted btn-active-light-success px-4 py-2 me-4">
													<span class="svg-icon svg-icon-3">
														<svg xmlns="http://www.w3.org/2000/svg" width="24px"
															height="24px" viewBox="0 0 24 24" version="1.1">
															<path
																d="M16,15.6315789 L16,12 C16,10.3431458 14.6568542,9 13,9 L6.16183229,9 L6.16183229,5.52631579 C6.16183229,4.13107011 7.29290239,3 8.68814808,3 L20.4776218,3 C21.8728674,3 23.0039375,4.13107011 23.0039375,5.52631579 L23.0039375,13.1052632 L23.0206157,17.786793 C23.0215995,18.0629336 22.7985408,18.2875874 22.5224001,18.2885711 C22.3891754,18.2890457 22.2612702,18.2363324 22.1670655,18.1421277 L19.6565168,15.6315789 L16,15.6315789 Z"
																fill="#000000"></path>
															<path
																d="M1.98505595,18 L1.98505595,13 C1.98505595,11.8954305 2.88048645,11 3.98505595,11 L11.9850559,11 C13.0896254,11 13.9850559,11.8954305 13.9850559,13 L13.9850559,18 C13.9850559,19.1045695 13.0896254,20 11.9850559,20 L4.10078614,20 L2.85693427,21.1905292 C2.65744295,21.3814685 2.34093638,21.3745358 2.14999706,21.1750444 C2.06092565,21.0819836 2.01120804,20.958136 2.01120804,20.8293182 L2.01120804,18.32426 C1.99400175,18.2187196 1.98505595,18.1104045 1.98505595,18 Z M6.5,14 C6.22385763,14 6,14.2238576 6,14.5 C6,14.7761424 6.22385763,15 6.5,15 L11.5,15 C11.7761424,15 12,14.7761424 12,14.5 C12,14.2238576 11.7761424,14 11.5,14 L6.5,14 Z M9.5,16 C9.22385763,16 9,16.2238576 9,16.5 C9,16.7761424 9.22385763,17 9.5,17 L11.5,17 C11.7761424,17 12,16.7761424 12,16.5 C12,16.2238576 11.7761424,16 11.5,16 L9.5,16 Z"
																fill="#000000" opacity="0.3"></path>
														</svg>
													</span>
													0
												</span>
												<span
													class="btn btn-sm btn-light btn-color-muted btn-active-light-danger px-4 py-2">
													<span class="svg-icon svg-icon-2">
														<svg xmlns="http://www.w3.org/2000/svg"
															xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
															height="24px" viewBox="0 0 24 24" version="1.1">
															<g stroke="none" stroke-width="1" fill="none"
																fill-rule="evenodd">
																<polygon points="0 0 24 0 24 24 0 24"></polygon>
																<path
																	d="M16.5,4.5 C14.8905,4.5 13.00825,6.32463215 12,7.5 C10.99175,6.32463215 9.1095,4.5 7.5,4.5 C4.651,4.5 3,6.72217984 3,9.55040872 C3,12.6834696 6,16 12,19.5 C18,16 21,12.75 21,9.75 C21,6.92177112 19.349,4.5 16.5,4.5 Z"
																	fill="#000000" fill-rule="nonzero"></path>
															</g>
														</svg>
													</span>
													0
												</span>

											</div>

										</div>



										<div class="separator separator-solid mt-2 mb-4"></div>



										<form asp-action="CommentReplay" asp-controller="Blog" method="post"
											data-ajax="true" data-ajax-update="#MessagePanel"
											enctype="multipart/form-data" class="position-relative mb-6">
											<div class="d-flex flex-stack">
												<div class="d-flex align-items-center me-2">
													<button class="btn btn-sm btn-icon btn-active-light-primary me-1"
														type="button" data-bs-toggle="tooltip" title=""
														data-bs-original-title="بزودی">
														<i class="bi bi-paperclip fs-3"></i>
													</button>
													<button class="btn btn-sm btn-icon btn-active-light-primary me-1"
														type="button" data-bs-toggle="tooltip" title=""
														data-bs-original-title="بزودی">
														<i class="bi bi-upload fs-3"></i>
													</button>
												</div>

												<input type="text"
													class="form-control form-control-flush ml-10 mr-3 input-chat"
													data-ppc-element="input" placeholder="پیام را بنویسید">

												<button class="btn btn-primary" type="button"
													data-ppc-element="send">ارسال</button>
											</div>

										</form>

									</div>

								</div>


							</div>




						</div>


					</div>

				</div>

			</div>


			<div class="flex-column flex-lg-row-auto w-100 mw-xl-400px mb-10">

				<div class="card bg-primary bg-opacity-5 mt-15">

					<div class="card-body p-12">

						<h2 class="text-dark fw-bolder mb-11">کانال های بیشتر</h2>


						<div class="d-flex align-items-center mb-10">

							<i class="bi bi-file-earmark-text text-primary fs-1 me-5"></i>


							<div class="d-flex flex-column">
								<h5 class="text-gray-800 fw-bolder">خلاصه پروژه</h5>

								<div class="fw-bold">

									<span class="text-muted">بررسی</span>


									<a href="#" class="link-primary">سیاست پشتیبانی</a>

								</div>

							</div>

						</div>


						<div class="d-flex align-items-center mb-10">

							<i class="bi bi-chat-square-text-fill text-primary fs-1 me-5"></i>


							<div class="d-flex flex-column">
								<h5 class="text-gray-800 fw-bolder">بیشتر برای بحث</h5>

								<div class="fw-bold">

									<span class="text-muted">ایمیل </span>


									<a href="#" class="link-primary">support@Billiard.ir</a>

								</div>

							</div>

						</div>


						<div class="d-flex align-items-center mb-10">

							<i class="bi bi-twitter text-primary fs-1 me-5"></i>


							<div class="d-flex flex-column">
								<h5 class="text-gray-800 fw-bolder">اخرین ها جدید</h5>

								<div class="fw-bold">

									<span class="text-muted">دنبال کردن </span>


									<a href="#" class="link-primary">توئیتر</a>

								</div>

							</div>

						</div>


						<div class="d-flex align-items-center">

							<i class="bi bi-github text-primary fs-1 me-5"></i>


							<div class="d-flex flex-column">
								<h5 class="text-gray-800 fw-bolder">گیت هاب </h5>

								<div class="fw-bold">

									<span class="text-muted">گیت هاب</span>


									<a href="#" class="link-primary">KeenThemes گیت هاب</a>

								</div>

							</div>

						</div>

					</div>

				</div>


				<div class="card mt-15 bg-primary bg-opacity-5">

					<div class="card-body px-12 py-10">

						<h1 class="fw-bolder text-dark mb-9">مستندات</h1>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">ادمین مترونیک</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">ادمین</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">شروع داشبورد</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">قالب حرفه ای</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">ادمین کرافت</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">فرانت اند</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">ادمین مترونیک</a>

						</div>


						<div class="d-flex align-items-center mb-6">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">داشبورد</a>

						</div>


						<div class="d-flex align-items-center">


							<span class="svg-icon svg-icon-2 ms-n1 me-3">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
									width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<polygon points="0 0 24 0 24 24 0 24" />
										<path
											d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
											fill="#000000" fill-rule="nonzero" />
										<path
											d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
											fill="#000000" fill-rule="nonzero" opacity="0.5"
											transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)" />
									</g>
								</svg>
							</span>



							<a href="#" class="fw-bold text-gray-800 text-hover-primary fs-5 m-0">استارت ادمین</a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>








@section Style{
<link rel="stylesheet" href="~/redactor3/redactor.css" />
<link rel="stylesheet" href="/css/rating.css">
}


@section Scripts{
<script src="~/redactor3/redactor.js"></script>
<script src="~/redactor3/langs/fa.js"></script>
<script src="~/redactor3/plugins/fullscreen/fullscreen.min.js"></script>
<script src="~/redactor3/custom-plugins/iconic/iconic.js"></script>

<script>

	$('.rating ul li').on('click', function () {

		let li = $(this),
			ul = li.parent(),
			rating = ul.parent(),
			last = ul.find('.current');
		var rate = $(this).data("rate");

		if (!rating.hasClass('animate-left') && !rating.hasClass('animate-right')) {

			last.removeClass('current');

			ul.children('li').each(function () {
				let current = $(this);
				current.toggleClass('active', li.index() > current.index());
			});

			rating.addClass(li.index() > last.index() ? 'animate-right' : 'animate-left');
			rating.css({
				'--x': li.position().left + 'px'
			});
			li.addClass('move-to');
			last.addClass('move-from');

			setTimeout(() => {
				li.addClass('current');
				li.removeClass('move-to');
				last.removeClass('move-from');
				rating.removeClass('animate-left animate-right');
			}, 800);
		}

		@* $.post('@Url.Action("Rate", "Blog")',
				{
				rate: rate,
				id: @Model.Id
				},
				function (data, status) {

				if (status == "success") {
				if (isNaN(data)) {
				$('#MessagePanel').html(data);
				} else {
				$('#point').html(data);
				}
				}


				}
				); *@

	})




	$('#content').redactor({
		shortcutsAdd: {
			'ctrl+shift+0': { func: 'block.format', params: ['pre'] }
		},
		clickToEdit: true,
		clickToSave: { title: 'ارسال پست' },
		clickToCancel: { title: 'انصراف' },
		callbacks: {
			clickSave: function (html) {
				$.post('@Url.Action("Comment", "Blog")',
					{
						text: html,
						postid: 1
					},
					function (data, status) {
						if (status == "success") {
							window.location.reload();
						}
					}
				);

			},
			clickCancel: function (html) {
				$('#content').val('');
			}
		},
		buttons: ['bold', 'italic', 'underline', 'lists', 'link', 'line'],
		toolbarFixedTopOffset: 40,
		formatting: ['p', 'pre'],
		imageUpload: 'image_upload.php',
		lang: 'fa',
		direction: 'rtl',
		plugins: ['clips', 'article_links', 'source', 'iconic2', 'emoticons', 'fullscreen'],
		placeholder: 'متن پست را بنویسید ...',
		linkNewTab: true,
		toolbarFixed: false,
		minHeight: '100px',
		linkify: true,
		linkNofollow: true,
		pastePlainText: true,
		linkSize: 1000
	});



	$(function () {
		$(".HeartAnimation").click(function () {
			$(this).toggleClass("animate");
			$.post('@Url.Action("Like", "Blog")',
				{
					commentid: 1,
					uid: 1
				},
				function (data, status) {
					alert("Data: " + data + "\nStatus: " + status);
				}
			);
		});
	});
</script>
}